@font-face {
  font-family: "Formula1Display";
  src: url("https://cdn.jsdelivr.net/gh/maightali/fonts@main/Formula1-Display-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Formula1Display";
  src: url("https://cdn.jsdelivr.net/gh/maightali/fonts@main/Formula1-Display-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
